head{
  font-family: calibri;
}

body{
  background-color:#f2e88a;margin-left:50px;
  color: #000;
  font-family: "Century Gothic", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #dddddd
}

p.ex1{
  margin-left: 250px;
}

.mySlides{
  display:none;
}
