head{
  font-family: calibri;
}

body{
  background-color:#FFFFFF;margin-left:50px;
}

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #dddddd
}

p.ex1{
  margin-left: 250px;
}

.mySlides{
  display:none;
}
